* {
  font-family: 'Courier New', Courier, monospace;
}

body {
  margin: 0;
  background-color: #d1d1d1;
}

.full-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 500px;
  gap: 16px;
}

button {
  font-size: medium;
  border: 0;
  padding: 0;
  width: 55%;
  height: 10%;
  border-radius: 50px;
  background-color: #ff9500;
  cursor: pointer;
}

.set-option {
  margin-top: 6px;
  display: flex;
  justify-content: center;
}

.container {
  background-color: #ffffff;
  border: 2px solid #000000;
  width: 500px;
  height: 500px;
  display: flex;
}

.pixel-container {
  flex: auto;
  display: flex;
  flex-direction: column;
}

.pixel {
  flex: auto;
  border: 1px solid #000000;
}